.invader-header {
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #f0db00;
    font-size: 2rem;
    text-align: center;
    padding: 21px 28px;
    text-decoration: none;
    transition: 0.4s all;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }
}
