.box-container {
  width: 100%;
  height: 92.5vh;
  display: flex;
  justify-content: center;
  background-color: #f0db00;
  .invader-box-container {
    margin-top: 3rem;
    width: 80%;
    height: 77vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      width: 120px;
      height: 120px;
      border-radius: 7px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;

      .ball {
        border: 2px solid black;
        background-color: black;
        float: left;
        width: 0.25em;
        height: 0.25em;
        margin: 40px 40px;
        transition: 0.3s all;

        &:hover {
          background-color: yellowgreen;
        }
      }

      .space-invader-ufo {
        box-shadow: 
          /* Body */ -0.25em -0.625em 0 0.125em #f0db00,
          0.25em -0.625em 0 0.125em #f0db00, -0.25em -0.375em 0 0.125em #f0db00,
          -0.75em -0.375em 0 0.125em #f0db00, -1em -0.375em 0 0.125em #f0db00,
          0.25em -0.375em 0 0.125em #f0db00, 0.75em -0.375em 0 0.125em #f0db00,
          1em -0.375em 0 0.125em #f0db00, 0 0.125em 0 0.125em #f0db00,
          -0.75em 0.125em 0 0.125em #f0db00, 0.75em 0.125em 0 0.125em #f0db00,
          -0.375em 0.25em 0 0 #f0db00, -1.125em 0.25em 0 0 #f0db00,
          0.375em 0.25em 0 0 #f0db00, 1.125em 0.25em 0 0 #f0db00,
          1.375em -0.25em 0 0 #f0db00, 1.5em 0.125em 0 0.125em #f0db00,
          1.875em 0.25em 0 0 #f0db00, -1.375em -0.25em 0 0 #f0db00,
          -1.5em 0.125em 0 0.125em #f0db00, -1.875em 0.25em 0 0 #f0db00,
          0 0.375em 0 0.125em #f0db00, 1.25em 0.375em 0 0.125em #f0db00,
          1em 0.375em 0 0.125em #f0db00, 1.125em 0.75em 0 0 #f0db00,
          -1.25em 0.375em 0 0.125em #f0db00, -1em 0.375em 0 0.125em #f0db00,
          -1.125em 0.75em 0 0 #f0db00;
      }
    }
  }
}
