<div class="box-container">
  <div class="invader-box-container">
    <table class="invader-table">
      <tr *ngFor="let row of boxes; let indexRow = index">
        <td *ngFor="let box of row; let indexCol = index">
          <div class="box" (click)="setBox(indexCol, indexRow)">
            <div
              *ngIf="box.isMain"
              class="ball space-invader-ufo"
              [ngClass]="[box.isMain ? 'mainBox' : '']"
            ></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
