/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
